<div>
	<div>
		<label>Warehouse origem:</label>
		<select id="selectOrigin" name="selectOrigin" ng-model="transfer.originWarehouse" ng-options="item.label for item in warehouses">
      		<!-- <option ng-repeat="item in warehouses">{{item.label}}</option> -->
      		<option value="" selected>-- choose an option --</option>
    	</select>
	</div>

	<div ng-show="transfer.originWarehouse">
		<label>Pallet code:</label>
		<input ng-model="transfer.pallet">
		<small ng-show="palletExists">Pallet code already inserted.</small>
		<small ng-show="!isPalletValid">Invalid pallet code.</small>
		<button ng-click="addPallet()">Add</button>
	</div>
	
	<div ng-show="transfer.pallets.length > 0">
		<button ng-show="!showPallets" ng-click="showHidePallets()">Show pallets</button>
		<button ng-show="showPallets" ng-click="showHidePallets()">Hide pallets</button>
	</div>
	<div ng-show="showPallets">
		<label>Pallets to add:</label>
		<ul ng-repeat="pallet in transfer.pallets">
			<!-- <input name="wifiSecurity" type="radio"/> -->
			<li ng-bind="pallet.code">&nbsp;</li>
		</ul>
	</div>

	<div ng-show="transfer.originWarehouse">
		<label>Master code:</label>
		<input ng-model="transfer.master">
		<button ng-click="addMaster()">Add</button>
	</div>

	<div>
		<label>Masters to add:</label>
		<ul ng-repeat="master in transfer.masters">
			<!-- <input name="wifiSecurity" type="radio"/> -->
			<li ng-bind="master">&nbsp;</li>
		</ul>
	</div>

	<div ng-show="transfer.originWarehouse">
		<label>IMEI:</label>
		<input ng-model="transfer.imei">
		<button ng-click="addImei()">Add</button>
	</div>

	<div>
		<label>IMEIs to add:</label>
		<ul ng-repeat="imei in transfer.imeis">
			<!-- <input name="wifiSecurity" type="radio"/> -->
			<li ng-bind="imei">&nbsp;</li>
		</ul>
	</div>
</div>
<div>
	<div>
		<label>Warehouse destino:</label>
		<select id="selectDestiny" name="selectDestiny" ng-model="transfer.destinyWarehouse" ng-change="setLimit()" ng-options="item.label for item in warehouses">
      		<!-- <option ng-repeat="item in warehouses">{{item.label}}</option> -->
      		<option value="">-- choose an option --</option>
    	</select>
	</div>
	<div>
		<span ng-show="warehouseLimit">Limite de transferência: {{ warehouseLimit.limit }}</span>
	</div>
	<div>
		<label>Transportadora:</label>
		<select id="selectTransporter" name="selectTransporter" ng-model="transfer.transporter" ng-options="item.label for item in transporters">
      		<!-- <option ng-repeat="item in transporters">{{item.label}}</option> -->
      		<option value="" selected>-- choose an option --</option>
    	</select>
	</div>
</div>
<div>
	<button ng-click="transferir()">Transferir</button>
</div>